.card {
  border-radius: 25px;
  background: black;
  background-position: left top;
  background-repeat: repeat;
  padding: 1em;
  margin: 1em 0;
}

.card-header h3 {
  float: left;
}

.card-header a{
  float: right;
}

.clear {
  clear: both;
}

.card .icon {
  padding: 0 0.5em;
}

hr {
  margin-bottom: 1em;
}

p {
  margin: 0.5em 0;
}